<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In</title>
        <link rel="stylesheet" href="css/signin.css">
</head>
<body>
    <div class="container">
    <h1>Sign In</h1>
        <form method="post" action="/v1/auth/signin">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" required>
            
            <button type="submit">Sign In</button>

        </form>
    </div>
</body>
</html>
        